<div class="container">
  <h1>Add Activity</h1>
  <form #ActivityForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="=form-control" id="name"
             required
             [(ngModel)]="model.name" name="name">
      TODO: remove this: {{model.name}}
    </div>

    <div class="form-group">
      <label for="startTime">Start Time</label>
      <input type="number" class="form-control" id="startTime" required>
    </div>

    <div class="form-group">
      <label for="endTime">Start Time</label>
      <input type="number" class="form-control" id="endTime" required>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
