<p>
  schedule works!
</p>
<h1>Users</h1>
<!--<div *ngFor = "let user of users">
  &lt;!&ndash;<p>{{user}}</p>&ndash;&gt;
  <h4>{{user.name}}</h4>
  <p>id: {{user.id}}</p>
  <ul>
    <li>address: {{user.address}}</li>
    <li>status: {{user.status}}</li>
    <li>sqaudron: {{user.squadron}}</li>
    <li>user_type: {{user.user_type}}</li>
  </ul>

  <app-table-row></app-table-row>
</div>-->
<div><app-table-row [schedules]="schedules"></app-table-row></div>
#todo ngFor per person (schedules per person)
